*{
    padding: 0px;
    margin: 0px;
}
html{
    max-width: 1920px;
    min-width: 340px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}
.secao{
    height: 600px;
    margin: auto;
    padding-top: 50px;
}
#menu-responsivo{
    display: none;
    margin: auto;
    background-color: black;
    height: 50px;
    width: 50px;
    padding: 0%;
    transition:  width 1s, height 1s;
}
#menu-responsivo ul{
    display: none;
}
#menu-responsivo ul li{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
#menu-responsivo ul li:hover{
    background-color: gray;
    color: whitesmoke;
}
#icone-menu{
    transition: 1s;
}
#icone-menu:hover{
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.menu{
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 10px 18px black;
}
a{
    text-decoration: none;
}
.menu ul{
    margin: auto;
    padding: 0px;
}
.menu ul li{
    display: inline-block;
    padding: 10px;
    color: gray;
    font-weight: bolder;
    transition: 1s;
}
.menu ul li:hover{
    background-color: black;
    color: white;
}
#home{
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#home *{
    font-weight: bolder;
    text-align: center;
    margin: auto;
    padding: 10px;
}
#home div{
    margin: auto;
    max-width: 50%;
}
#home span{
    font-size: 100pt;
    margin: 0px;
    padding: 0px;
    height: min-content;
    width: fit-content;
}
#logo-header{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 150px;
}
#logo{
    box-shadow: 10px 10px 50px black;
}
@media only screen and (max-width: 1000px){
    #home span{
        font-size: 80pt;
    }
}
@media only screen and (max-width: 800px) {
    #menu-normal{
        display: none;
    }
    #menu-responsivo{
        display: block;
    }
    #home span{
        font-size: 60pt;
    }
}
@media only screen and (max-width: 720px){
    #home span{
        font-size: 60pt;
    }
    #home{
        flex-direction: column;
        height: auto;
    }
    #home div{
        max-width: 90%;
    }
    #logo-header{
        display: none;
    }
}


@media only screen {
    
    #contato{
        background-color: #101011;
    }
     
    .form{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        width: 400px;
        padding: 20px;
        border: 2px solid #020202;
        border-radius: 7px;
        border-right: 17px solid #020202;
        background-color: #ababac;
        
    }
    .form2 form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        width: 350px;
       
    }
    .form2 form label,
    .form2 form input{
        margin-bottom: 10px;
    }
    .form2 form label{
        font-size: 18px;
    }
    .form2 form input[type="text"],
    .form2 form input[type="email"],
    .form2 form input[type="password"]{
        width: 100%;
        height: 30px;
        border-radius: 4px;
        border: 1px solid #26353e;
        font-size: 16px;
        outline: none;
        padding-left: 5px;
    }
    .form2 textarea{
        width: 100%;
        height: 200px;
        resize: none;
        border-radius: 6px;
        padding: 10px;
        font-size: 14px;
        outline: none;
        margin-bottom: 10px;
    }
    .form2 form input[type="submit"]{
        width: 50%;
        height: 40px;
        font-size: 15px;
        font-weight: bold;
        background-color: #020202;
        border: none;
        color: white;
        border-radius: 3px;
        cursor: pointer;
    }
}
    
